/* hide the BP profile menu on the engagement UI pages */
#profile-banner {
	display: none;
}

.engagement-wrapper h1.title, .engagement-review-wrapper h1.title-rev, .engagement-review-wrapper h1.title-conf {
	border-bottom: 1px solid #9BBCD3;
	padding-bottom: 10px;
	font: 37px Georgia, serif;
}

.engagement-wrapper .title_bar h1.title {
	border-bottom: none;
	padding-bottom: 0;
}

.engagement-wrapper label {
	color: #666;
}

.nav-wrapper-lower, .nav-wrapper-lower-final {
	border-top: 1px solid #9BBCD3;
	padding-top: 15px;
}
.nav-wrapper-lower {
	margin-top: 40px;
}

.engagement-style-button .btn {
	width: 220px;
}
.engagement-style-radio-buttons {
	margin-top: 20px;
	margin-right: 225px;
}
.template-engagement-style .nav-wrapper-lower {
	margin-top: 80px;
}

.title_bar {
	border-bottom: solid #9BBCD3;
	border-bottom-width: 1px;
	padding-bottom: 15px;
}
.title_bar_blurb {
	font-style: italic;
	padding-left: 10px;
	border-left: solid #9BBCD3;
	border-left-width: 5px;
}
.title_bar_blurb .quote {
	width: 315px;
	font: italic 14px/21px "Georgia", serif;
}
.title_bar_blurb_attribution {
	font-style: italic;
	font-size: 90%;
	padding-top: 12px;
	font: 12px/16px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: #999999;
}
.title, .title-conf, .title-rev {
	/*font-size: 180%;*/
}
.title > .subtitle {
	font: 26px Georgia, serif;
	padding-top: 10px;
}
/*.pick_engagement, .resume_engagement {
	font: 12px/16px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: #727272;
	padding: 10px;
}*/
.container_12 .offerings {
	border-bottom: solid #9BBCD3;
	border-bottom-width: 1px;
	padding-bottom: 30px;
	margin-bottom: 15px;
}
.container_12 .offerings .grid_2 {
	width: 168px;
	/*border: solid #000000;*/
}
.img-analyst-briefing, .img-inquiry, .img-short-advisory, .img-strategy-session, .img-speaking-engagement {
	height: 37px;
	width: 37px;
	float: right;
	background-image: url("../img/falcon_sprites_v3.png");
}
.img-analyst-briefing {
	background-position: -1px 0;
}
.img-inquiry {
	background-position: 1023px 0;
}
.img-short-advisory {
	background-position: 986px 0;
}
.img-strategy-session {
	background-position: 949px 0;
}
.img-speaking-engagement {
	background-position: 913px 0;
}

.container_12 #offerings_buttons .grid_2 {
	width: 17%;
}
/*.container_12 #offerings_buttons {
 margin: 0 0 10px 0;
 }*/
/*.container_12 #offerings_durations {
 margin-top: 10px;
 margin-left: 0;
 margin-bottom: 10px;
 font: bold 14px "Georgia", serif;
 color: #000;
 }*/
.container_12 .offerings-buttons {
	margin-left: 0px;
}
#offerings-blurbs, .summary-block {
	font: 14px/21px Georgia, serif;
	margin-left: 0;
}
#offerings-durations, .summary-block .duration {
	font: bold 13px "Georgia", serif;
	color: #000;
	margin-top: 16px;
	margin-bottom: 10px;
	margin-left: 0;
}
.container_12 .final {
/*	border-top: solid #9BBCD3;
	border-top-width: 1px;*/
	margin-top: 20px;
	padding: 10px;
}
.container_12 .final .one {
	/*margin: 0;*/
}
.container_12 .final .two {
	/*margin: 0;*/
}
.container_12 .final .three {
	/*margin: 0 0 0 30px;*/
}

.steps_start, .steps_connect, .steps_get {
	border: solid #9BBCD3;
	border-width: thin;
	padding: 13px 17px;
	font-size: 18px;
	text-align: center;
	color: #609AC1;
	font-weight: 300;
	font-family: Helvetica;
	margin-bottom: 15px;
}

.container_12 .final .one .portraits_1 {
	display: inline-block;
	float: left;
	width: 46%;
	height: 100px;
	background-image: url("../img/analyst-1.png");
}
.container_12 .final .one .portraits_2 {
	display: inline-block;
	float: right;
	width: 46%;
	height: 100px;
	background-image: url("../img/analyst-2.png");
}
.container_12 .final .two .portraits_3 {
	display: inline-block;
	float: left;
	width: 46%;
	height: 100px;
	background-image: url("../img/analyst-3.png");
}
.container_12 .final .two .portraits_4 {
	display: inline-block;
	float: right;
	width: 46%;
	height: 100px;
	background-image: url("../img/analyst-4.png");
}
.container_12 .final .three .portraits_5 {
	display: inline-block;
	float: left;
	width: 46%;
	height: 100px;
	background-image: url("../img/analyst-5.png");
}
.container_12 .final .three .portraits_6 {
	display: inline-block;
	float: right;
	width: 46%;
	height: 100px;
	background-image: url("../img/analyst-6.png");
	background-color: #E0EBF2;
}
.container_12 .final .summary_start {
	font: 14px/21px "Georgia", serif;
	color: #000;
	width: 293px;
	padding-top: 15px;
	float: left;
}
.container_12 .final .summary_connect {
	font: 14px/21px "Georgia", serif;
	color: #000;
	width: 293px;
	padding-top: 15px;
	float: left;
}
.container_12 .final .summary_get {
	font: 14px/21px "Georgia", serif;
	color: #000;
	width: 293px;
	padding-top: 15px;
	float: left;
}

/* set up some initial state . . . */
.nav {
	display: none;
}
.tab-content.engagement-wrapper {
	overflow: visible;
}

/* taken from original (alpha) falcon.css . . . */
#meditor-form-engagement textarea, .tagsinput {
	border: 1px solid #9BBCD3;
	width: 452px;
	height: 100px;
	padding: 5px;
}

#meditor-engagement-question label {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 100%;
}

#meditor-engagement-question label ul {
	padding: 10px 20px;
}

#meditor-engagement-question label ul li {
	list-style-type: none;
}

#meditor-engagement-question label ul li:before {
	content: "\00BB \0020"
}

/* tags in the 'Enter topics or key words' box */
div.tagsinput span.tag {
	border: 1px solid #9BBCD3; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: block;
	float: left;
	padding: 5px;
	text-decoration: none;
	background: #64A6E5;
	color: #FFFFFF;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: helvetica;
	font-size: 13px;
}
div.tagsinput input {
	width: 80px;
	margin: 0px;
	font-family: helvetica;
	font-size: 13px;
	border: 1px solid transparent;
	padding: 5px;
	background: transparent;
	color: black;
	outline: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
}
div.tagsinput div {
	display: block;
	float: left;
}
div.tagsinput span.tag a {
	background: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0px 5px 1px 5px;
	font-size: 12px;
	position: relative;
	top: -1px;
}
div.tagsinput span.tag a:hover {
	background: #94BBE3;
	color: white;
	text-decoration: none;
}
div.tagsinput span.tag a:active {
	background: #64A6E5;
	color: white;
	text-decoration: none;
}

/** begin engagement duration method CSS **/
.engagement-duration-buttons {
	text-align: center;
}
.engagement-duration-buttons > span {
	float: none;
	display: inline-block;
}
.engagement-duration-buttons > span > span {
	margin: 20px auto;
	display: block;
	background: url("../img/falcon_sprites_v3.png") no-repeat;
	width: 73px;
	height: 73px;
}
.engagement-duration-buttons > span.style-one-hour > span {
	background-position: -624px 0px;
}
.engagement-duration-buttons > span.style-two-hours > span {
	background-position: -696px 0px;
}
.engagement-duration-buttons > span.style-four-hours > span {
	background-position: -770px 0px;
}
.engagement-duration-buttons > span.style-eight-hours > span {
	background-position: -843px 0px;
}
/** end engagement duration method CSS **/


/** begin engagement delivery method CSS **/
.engagement-style-buttons {
	text-align: center;
}
.engagement-style-buttons > span {
	float: none;
	display: inline-block;
}
.engagement-style-buttons > span > span {
	margin: 20px auto;
	display: block;
	background: url("../img/falcon_sprites_v3.png") no-repeat;
	width: 72px;
	height: 73px;
}
.engagement-style-buttons > span.style-phone-meeting > span {
	background-position: -186px 0px;
}
.engagement-style-buttons > span.style-web-meeting > span {
	background-position: -259px 0px;
}
.engagement-style-buttons > span.style-live-meeting > span {
	background-position: -332px 0px;
}
/** end engagement delivery method CSS **/

/** begin question/term entry step CSS **/
#meditor-form-engagement {

}

#meditor-form-engagement h2 {
	font: 26px Georgia, serif;
	margin-bottom: 10px;
}

#meditor-engagement-terms {
	float: left;
}

#meditor-engagement-question {
	float: right;
}

#meditor-engagement-question .fieldset.question {
	position: relative;
}
/** end question/term entry step CSS **/

/** begin number of analysts step CSS **/
.template-engagement-analyst-count span {
	margin: 20px auto;
	display: block;
	background: url("../img/falcon_sprites_v3.png") no-repeat;
	width: 72px;
	height: 73px;
}
.template-engagement-analyst-count .one > span {
	background-position: -332px 0px;
}

.template-engagement-analyst-count .two > span {
	background-position: -405px 0px;
}

.template-engagement-analyst-count .three > span {
	background-position: -479px 0px;
}

.template-engagement-analyst-count .more > span {
	background-position: -551px 0px;
}

.btn-analyst-count-one, .btn-analyst-count-two, .btn-analyst-count-three {
	margin-left: 50px;
}
.btn-analyst-count-more {
	margin-left: 15px;	
}
/** end number of analysts step CSS **/

/** begin expert pick step CSS **/
#auto-selected-analyst {
	position: relative;
}

#auto-selected-analyst, .engagement-schedule-scheduler {
	/*border-bottom: 1px solid #9BBCD3;*/
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.template-engagement-selected-analyst .headshot {
	height: 290px;
	overflow: hidden;
}
.template-engagement-selected-analyst .analyst-name, .engagement-review-analyst .analyst-name {
	font: bold 18px Georgia, serif;
}

.template-engagement-selected-analyst .list-item-inner .analyst-name {
	font: 14px Arial, sans-serif;
}
.template-engagement-selected-analyst .pick-specific {
	padding: 5px;
	position: absolute;
	display: block;
	background: rgba(0, 0, 0, 0.2);
	width: 290px;
	box-sizing: border-box;
	z-index: 100;
}
.template-engagement-selected-analyst .pick-specific a {
	color: #FFFFFF;
}
.template-engagement-selected-analyst .selected-analyst-info {
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	width: 290px;
	background: rgba(0, 0, 0, 0.2);
	padding: 5px;
	box-sizing: border-box;
}
.template-engagement-selected-analyst .selected-analyst-info > span {
	margin-left: 5px;
}

.headshot-image {
	max-height: 290px;
	overflow: hidden;
}

.go-analyst-list.grid_4 {
	background: white;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: none;
}

.go-analyst-list .hidden {
	display: none;
}

.container_12 .go-analyst-list-search.grid_4 {
	width: 296px;
	background: url(../img/icon-search.png) no-repeat 278px 5px;
	height: 22px;
}

/** end expert pick step CSS **/

/** begin schedule step CSS **/
#meditor-form-schedule {
	width: 600px;
	margin: 0 auto;
}

#meditor-form-schedule .date label, #meditor-form-schedule .time label, #meditor-form-schedule .phone_number label {
	position: absolute;
	top: 5px;
	left: 5px;
}

#meditor-form-schedule h2 {
	float: left;
	width: 85px;
	padding: 8px 10px 0px 0px;
	font: 12px/16px Arial, 'Helvetica Neue', Geneva, sans-serif;
	text-transform: uppercase;
	text-align: right;
}

#meditor-form-schedule li.field {
	position: relative;
}

#meditor-form-schedule li.field input, #meditor-form-schedule li.field select {
	width: 125px;
}

#meditor-form-schedule li.field.phone_number input {
	width: 285px;
}

table.ui-datepicker-calendar {
	background-color: white;
}

#meditor-schedule li.fieldset_title {
	border-bottom: 1px solid #9BBCD3;
	/* padding: 7px 30px 0px 30px; */
	padding: 7px 30px 0px 0px;
}
#meditor-schedule #meditor-schedule-phone {
	border-bottom: none;
}

#meditor-schedule #meditor-schedule-schedule_1 {
	padding-right: 0px;
}

#meditor-schedule li.field.schedule_1.time_zone:after {
	content: ' *';
	overflow: visible;
	font-size: 30px;
	vertical-align: middle;
	color: #666;
}

.schedule li {
	display: inline-block;
	margin-right: 20px;
}

.schedule li.time_zone {
	margin-right: 0px;
}

.schedule li.time_zone label {
	display: none;
}

#suggest-schedule .engagement-schedule-required-message {
	margin-left: 440px;
	color: #666;
	line-height: 30px;
}

/** end schedule step CSS **/

/** begin review and confirm step CSS **/
.engagement-review-wrapper {
	/*	border-bottom: 1px solid #9BBCD3;*/
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.engagement-review-wrapper .change-link {
	display: block;
	font: 15px "Helvetica", "Arial", sans-serif;
	color: #609AC1;
	text-transform: lowercase;
	margin-top: 6px;
}

.engagement-review-wrapper .engagement-review-schedule > span {
	display: block;
}

.engagement-review-wrapper .engagement-review-next {
	display: none;
}

.engagement-review-wrapper .engagement-review-next p, .engagement-review-wrapper .engagement-review-left span {
	font-family: Georgia, sans-serif;
}
.engagement-review-schedule, .engagement-review-question, .engagement-review-topics {
	margin-top: 16px;
}
.analyst-name {
	margin-bottom: 7px;
	display: inline-block;	
}
.btn-book-another {
	margin-top: 10px;
}


/** end review and confirm step CSS **/

.offerings-headers.grid_12 {
	margin-left: 0;
}
#offerings-headers .desc, .summary-block .type {
	float: left;
	font: 300 18px "Helvetica", "Helvetica Neue", "Arial", sans-serif;
	color: #666;
	margin-bottom: 11px;
	width: 100px;
}

.pick_engagement, .resume_engagement  {
	font: 11px "Helvetica", "Arial", sans-serif;
	letter-spacing: 3px;
	color: #666;
	text-transform: uppercase;
	padding: 18px 18px 18px 10px;
}

.engagement-wrapper .tab-pane h3 {
	font: 11px "Helvetica", "Arial", sans-serif;
	letter-spacing: 3px;
	color: #666;
	text-transform: uppercase;
	padding: 12px 0 7px;
}

#auto-selected-analyst .analyst-blurb .heading {
	font: 11px "Helvetica", "Arial", sans-serif;
	letter-spacing: 3px;
	color: #666;
	float: left;
	padding-right: 10px;
	text-transform: uppercase;
}
#auto-selected-analyst .analyst-blurb .content {
	padding-bottom: 20px;
	line-height: 1.5em;
}
#auto-selected-analyst > .headshot > .content {
	float: left;
	width: 290px;
}
.summary-block {
	border: 1px solid #93A9B7;
	border-radius: 0px; /*!important;*/
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
	height: 278px;
	position: relative;
}

.summary-block .price {
	border-top: 1px dotted #9BBCD3;
	position: absolute;
	bottom: 10px;
	margin: 0 10px;
	padding-left: 0px;
	width: 260px;
	display: none;
}

.summary-block > * {
	padding: 10px;
}

/** engagement analyst list pane styles, pasted directly. @TODO: review these **/
.engagement-wrapper .panes {
	height: 440px;
	position: relative;
}

.engagement-wrapper .list-pane {
	font: inherit;
	max-height: 260px;
	overflow-y: scroll;
	margin: 0;
	padding: 0 20px 0 0;
	left: 0;
	top: 20px;
}

.engagement-wrapper #engagement-analysts .list-pane {
	height: 255px;
}
.engagement-wrapper .list-pane .list-item {
	font: inherit;
	padding: 10px 5px 10px 50px;
	min-height: 32px;
	overflow: hidden;
	position: relative;
}
.engagement-wrapper .list-pane .list-item:hover {
	background: #fafafa;
}
.engagement-wrapper .list-pane .list-item .name {
	font-size: 12px;
}

.engagement-wrapper .list-pane .list-item .avatar {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 10px;
	background: #fafafa;
}

.engagement-wrapper .list-pane .list-item .analyst-book-link {
	padding: 1px 3px;
	font-size: 9px;
	position: absolute;
	right: 18px;
	top: 5px;
	height: 17px;
	text-shadow: 1px 1px 0px rgba(0,0,0,.25);
	line-height: 17px;
	color: #fff;
	padding: 0;
	width: 38px;
	text-align: center;
	border: 1px solid #56ae24;
	border-top-color: #6ab43a;
	border-bottom-color: #409d10;
	border-radius: 10px;
	box-shadow: inset 1px -1px 1px #59c124, inset 0px 3px -2px -2px #aee18f;
	background-color: #7ad242;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(122, 210, 66)), to(rgb(74, 188, 17)));
	background-image: -webkit-linear-gradient(top, rgb(122, 210, 66), rgb(74, 188, 17));
	background-image: -moz-linear-gradient(top, rgb(122, 210, 66), rgb(74, 188, 17));
	background-image: -o-linear-gradient(top, rgb(122, 210, 66), rgb(74, 188, 17));
	background-image: -ms-linear-gradient(top, rgb(122, 210, 66), rgb(74, 188, 17));
	background-image: linear-gradient(top, rgb(122, 210, 66), rgb(74, 188, 17));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7ad242', EndColorStr='#4abc11');
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.engagement-wrapper .list-pane .list-item .analyst-book-link:active {
	background-color: #4abc11;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(74, 188, 17)), to(rgb(122, 210, 66)));
	background-image: -webkit-linear-gradient(top, rgb(74, 188, 17), rgb(122, 210, 66));
	background-image: -moz-linear-gradient(top, rgb(74, 188, 17), rgb(122, 210, 66));
	background-image: -o-linear-gradient(top, rgb(74, 188, 17), rgb(122, 210, 66));
	background-image: -ms-linear-gradient(top, rgb(74, 188, 17), rgb(122, 210, 66));
	background-image: linear-gradient(top, rgb(74, 188, 17), rgb(122, 210, 66));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4abc11', EndColorStr='#7ad242');
}
.engagement-wrapper .list-pane .header .requested-analyst-buttons {
	float: right;
}
.engagement-wrapper .list-pane .header .requested-analyst-buttons li {
	display: inline-block;
}
.engagement-wrapper .list-pane .list-item .analyst-book-link.booked {
	opacity: .5;
}

.engagement-wrapper .list-pane .list-item .title-review, .title-confirm, .engagement-wrapper .list-pane .list-item .topics {
	white-space: nowrap;
	font-size: 11px;
}
.engagement-wrapper .list-pane .list-item .topics {
	color: #666;
}

.engagement-wrapper .list-pane .list-item.selected {
	background: #DAF4FF;
}
.engagement-wrapper .list-pane .list-item.list-item-empty {
	padding: 0;
	width: 100%;
	margin-bottom: 10px;
}
/** end @TODO review these analyst list pane styles **/

.engagement-wrapper .btn {
	font-weight: lighter;
	font-size: 15px;
}

/** begin generic GigaOM button styles **/

/* GigaOM variables */
.btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 85px;
	position: relative;
	padding: 5px 15px 6px;
	font: normal 13px/19px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-repeat: repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
	z-index: 0;
}

.btn:active {
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.35), 0 2px 2px transparent;
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.35), 0 2px 2px transparent;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.35), 0 2px 2px transparent;
}

.research-generic-button {
	background-color: #4e92dc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79ace4), to(#256cb9));
	background-image: -webkit-linear-gradient(top, #79ace4, #3985d8);
	background-image: -o-linear-gradient(top, #79ace4, #3985d8);
	background-image: linear-gradient(to bottom, #79ace4, #3985d8);
	background-image: -moz-linear-gradient(top, #79ace4, #3985d8);
}

.research-generic-button:hover {
	border: 1px solid rgba(0, 0, 0, 0.25);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#639fe0), to(#2978ce));
	background-image: -webkit-linear-gradient(top, #639fe0, #2978ce);
	background-image: -o-linear-gradient(top, #639fe0, #2978ce);
	background-image: linear-gradient(to bottom, #639fe0, #2978ce);
	background-image: -moz-linear-gradient(top, #639fe0, #2978ce);
}

.research-save-button {
	background-color: #98c979;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b4d89d), to(#6faf47));
	background-image: -webkit-linear-gradient(top, #b4d89d, #6faf47);
	background-image: -o-linear-gradient(top, #b4d89d, #6faf47);
	background-image: linear-gradient(to bottom, #b4d89d, #6faf47);
	background-image: -moz-linear-gradient(top, #b4d89d, #6faf47);
}

.research-save-button:hover {
	border: 1px solid rgba(0, 0, 0, 0.25);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b4d89d), to(#639d3f));
	background-image: -webkit-linear-gradient(top, #b4d89d, #639d3f);
	background-image: -o-linear-gradient(top, #b4d89d, #639d3f);
	background-image: linear-gradient(to bottom, #b4d89d, #639d3f);
	background-image: -moz-linear-gradient(top, #b4d89d, #639d3f);
}

.research-delete-button {
	background-color: #ca5857;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d67f7e), to(#a23433));
	background-image: -webkit-linear-gradient(top, #d67f7e, #a23433);
	background-image: -o-linear-gradient(top, #d67f7e, #a23433);
	background-image: linear-gradient(to bottom, #d67f7e, #a23433);
	background-image: -moz-linear-gradient(top, #d67f7e, #a23433);
}

.research-delete-button:hover {
	border: 1px solid rgba(0, 0, 0, 0.25);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d67f7e), to(#8e2e2d));
	background-image: -webkit-linear-gradient(top, #d67f7e, #8e2e2d);
	background-image: -o-linear-gradient(top, #d67f7e, #8e2e2d);
	background-image: linear-gradient(to bottom, #d67f7e, #8e2e2d);
	background-image: -moz-linear-gradient(top, #d67f7e, #8e2e2d);
}

.research-disabled-button {
	background-color: #c3c3c3;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#9d9d9d));
	background-image: -webkit-linear-gradient(top, #dddddd, #9d9d9d);
	background-image: -o-linear-gradient(top, #dddddd, #9d9d9d);
	background-image: linear-gradient(to bottom, #dddddd, #9d9d9d);
	background-image: -moz-linear-gradient(top, #dddddd, #9d9d9d);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.research-disabled-button:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn.pull-left:hover {
	border-left: none;
}

.btn.pull-left {
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
	padding-left: 11px;
	overflow: visible;
}

.btn.pull-left:before {
	content: ' ';
	position: absolute;
	left: -11px;
	top: 4px;
	height: 21px;
	width: 21px;
	display: block;
	background-color: #4e92dc;
	background: linear-gradient(left bottom, #79ace4 0%, #3985d8 100%);
	background: -o-linear-gradient(left bottom, #79ace4 0%, #3985d8 100%);
	background: -moz-linear-gradient(left bottom, #79ace4 0%, #3985d8 100%);
	background: -webkit-linear-gradient(left bottom, #79ace4 0%, #3985d8 100%);
	background: -ms-linear-gradient(left bottom, #79ace4 0%, #3985d8 100%);
	transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	z-index: -1;
}

.btn.pull-left:hover:before {
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	background: linear-gradient(left bottom, #639fe0 0%, #2978ce 100%);
	background: -o-linear-gradient(left bottom, #639fe0 0%, #2978ce 100%);
	background: -moz-linear-gradient(left bottom, #639fe0 0%, #2978ce 100%);
	background: -webkit-linear-gradient(left bottom, #639fe0 0%, #2978ce 100%);
	background: -ms-linear-gradient(left bottom, #639fe0 0%, #2978ce 100%);
}

.btn.pull-left:active:before {
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35), 0 0 0 transparent;
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35), 0 0 0 transparent;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35), 0 0 0 transparent;
}

/* * * * * * * * * * * * * * * * */
.btn.pull-right:hover {
	border-right: none;
}

.btn.pull-right {
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
	padding-right: 11px;
	overflow: visible;
}

/* note: http://stackoverflow.com/questions/213750/gradient-colors-in-internet-explorer 
 *       swapped out 'background-image' for just 'background'
 */

.btn.pull-right:after {
	content: ' ';
	position: absolute;
	right: -11px;
	top: 4px;
	height: 21px;
	width: 21px;
	display: block;
	background-color: #4e92dc;
	background: linear-gradient(left bottom, #79ace4 0%, #3985d8 100%);
	background: -o-linear-gradient(left bottom, #79ace4 0%, #3985d8 100%);
	background: -moz-linear-gradient(left bottom, #79ace4 0%, #3985d8 100%);
	background: -webkit-linear-gradient(left bottom, #79ace4 0%, #3985d8 100%);
	background: -ms-linear-gradient(left bottom, #79ace4 0%, #3985d8 100%);
	transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	z-index: -1;
}

.btn.pull-right:hover:after {
	border-left: 1px solid rgba(0, 0, 0, 0.25);
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	background: linear-gradient(left bottom, #639fe0 0%, #2978ce 100%);
	background: -o-linear-gradient(left bottom, #639fe0 0%, #2978ce 100%);
	background: -moz-linear-gradient(left bottom, #639fe0 0%, #2978ce 100%);
	background: -webkit-linear-gradient(left bottom, #639fe0 0%, #2978ce 100%);
	background: -ms-linear-gradient(left bottom, #639fe0 0%, #2978ce 100%);
}

.btn.pull-right:active:after {
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.35), 0 0 0 transparent;
	-moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.35), 0 0 0 transparent;
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.35), 0 0 0 transparent;
}

.btn-primary {
	background-color: #4e92dc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#79ace4), to(#256cb9));
	background: -webkit-linear-gradient(top, #79ace4, #3985d8);
	background: -o-linear-gradient(top, #79ace4, #3985d8);
	background: linear-gradient(to bottom, #79ace4, #3985d8);
	background: -moz-linear-gradient(top, #79ace4, #3985d8);
}

.btn-primary:hover {
	border: 1px solid rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#639fe0), to(#2978ce));
	background: -webkit-linear-gradient(top, #639fe0, #2978ce);
	background: -o-linear-gradient(top, #639fe0, #2978ce);
	background: linear-gradient(to bottom, #639fe0, #2978ce);
	background: -moz-linear-gradient(top, #639fe0, #2978ce);
}

/* mozilla button height hack */
@-moz-document url-prefix() {
.btn.pull-left:before, .btn.pull-right:after {
height: 22px;
width: 22px; } }

.btn.pull-right {
	margin-right: 11px;
}

.btn.pull-left {
	margin-left: 11px;
}

/** end generic GigaOM button styles **/

.engagement-wrapper select, .engagement-wrapper textarea, .engagement-wrapper input[type="text"], .engagement-wrapper input[type="password"], .engagement-wrapper input[type="datetime"], .engagement-wrapper input[type="datetime-local"], .engagement-wrapper input[type="date"], .engagement-wrapper input[type="month"], .engagement-wrapper input[type="time"], .engagement-wrapper input[type="week"], .engagement-wrapper input[type="number"], .engagement-wrapper input[type="email"], .engagement-wrapper input[type="url"], .engagement-wrapper input[type="search"], .engagement-wrapper input[type="tel"], .engagement-wrapper input[type="color"], .engagement-wrapper .uneditable-input {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/** bootstrap nav-tabs overrides **/
.nav.nav-tabs {
	font: 14px "Helvetica", "Arial", sans-serif;
	background-color: #FFFFFF;
	border-bottom: none;
	overflow: hidden;
	margin-right: -5px;
}
.nav.nav-tabs > .active > a, .nav.nav-tabs > .active > a:hover {
	color: #FFFFFF;
	cursor: default;
	background-color: #64A6E5;
	border: none;
	margin-left: -38px;
	padding-left: 40px;
}
.nav.nav-tabs > li > a:hover {
	background-color: #F2F2F2;
	border-color: #F2F2F2;
}
.nav.nav-tabs > li > a.active:hover {
	background-color: #64A6E5;
}
.nav.nav-tabs > li > a {
	color: #999999;
	padding-left: 18px;
	border: none;
	position: relative;
	z-index: 1;
	margin-left: -15px;
	padding-right: 18px;
}

/** trick to make the pointy nav tabs **/
#content .nav li:after {
	content: ' ';
	position: absolute;
	right: -7px;
	top: 4px;
	height: 25px;
	width: 25px;
	display: block;
	transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	border-left: 4px solid/*rgba(255, 255, 255, 1)*/#FFFFFF;
	border-top: 4px solid/*rgba(255, 255, 255, 1)*/#FFFFFF;
	z-index: 2;
	margin-right: 32px;
	background-color: #F2F2F2;
}
#content .nav li:first-child {
	margin-left: 25px;
}
#content .nav li:first-child:before {
	border: none;
	content: ' ';
	position: absolute;
	left: -35px;
	top: 4px;
	height: 27px;
	width: 27px;
	display: block;
	transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	z-index: 3;
	background-color: #FFFFFF;
}
#content .nav li.active:first-child:before {
	left: -32px;
}
#content .nav li:first-child a {
	padding-left: 33px;
	margin-left: -19px;
	background-color: #F2F2F2;
}
#content .nav li.active:first-child a {
	background-color: #64A6E5;
}
#content .nav li:last-child {
	padding-right: 0px;
}
#content .nav li:last-child:after {
	z-index: 0;
	right: -47px;
	background-color: #F2F2F2;
}
#content .nav li {
	padding-right: 39px;
	position: relative;
	border-top: none;
	border-bottom: none;
	background-color: #F2F2F2/* #999999 */;
}
#content .nav li.active {
	background-color: /*#64A6E5*/#F2F2F2;
}
#content .nav li.active:after {
	background-color: #64A6E5;
}
.ui-menu {
	background-color: #FFFFFF;
}

/* overlay during ajax calls */
.blockUI .blockOverlay {
	opacity: 0.5; 	
}
.blockUI .blockMsg .blockElement {
	background-color: transparent; 
}
.blockUI h1 {
	color: #fff;    
	font-size: 15px;    
	font-weight: normal;    
	text-transform: uppercase;    
	letter-spacing: 3px;
}

/* restart state */
.resume {
	border-bottom: solid #9BBCD3;
	border-bottom-width: 1px;
	padding-bottom: 30px;
}
.resume-buttons span {
	margin: 20px auto;
	display: block;
	background: url("../img/falcon_sprites_v3.png") no-repeat;
	width: 72px;
	height: 73px;
}
#button-continue {
	margin-left: 100px;	
}
#button-start-new {
	margin-left: 135px;
}
.continue-button > span {
	background-position: -916px 0px;
}
.start-new-button > span {
	background-position: -989px 0px;
}
.resume-blurb {
	font: Helvetica 12px #AAAAAA;
	margin-left: 110px;
	margin-top: 20px;
}
.restart-blurb {
	font: Helvetica 12px #AAAAAA;
	margin-left: 115px;
	margin-top: 20px;
}

/* empty AskQuestion tags validation */
.error hidden {
	display: none;
}
.tagsinput.error{
	border: 1px solid red;	
}
.question.error{
	margin-top: 30px;	
}

/* telno validation */
/*li.fieldset.schedule.phone.error {
	border: 1px solid red;
	padding-top: 10px;
}*/

/* telno validation */
li.fieldset.schedule.phone.error {
	border: 1px solid red;
	padding-top: 10px;	
}

/* date/time validation */
li.fieldset.schedule.schedule_1.error {
	border: 1px solid red;
	padding-top: 10px;
}

/* progress bar coloring  */
#content .nav.nav-tabs > li.reached {
	/*background-color: #b2cceb;*/
	cursor:pointer;
}

/* This overrides bootstrap.css's li adjustment to line-height. 
 * The reason this works is that the bcms_late_enqueue_style method in class-engagement-posttype.php ensures that bootstrap.css is loaded before single-engagement.css, 
 * so only <li>'s in pages that enqueue bootstrap will be adjusted.
 */
li {
	line-height: 21px;
}

/* this is only visible in the analyst-connect-awaiting-approval-admin.php template */
.reject-request {
	margin-left: 710px;
}

.btn-complete-request-approval {
	margin-bottom: 10px;	
}

/* commented out because we removed support for eng-style radios for this product:
#radio-live-meeting-panelist, #radio-live-meeting-moderator {
	margin-top: 0px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 5px;
}
*/

/* we've made the date input field readonly, which makes bootstrap change its background color to something we don't want */
.schedule input[readonly] {
	background-color: #FFFFFF;
	cursor: pointer;
}

/* textarea bootstrap override */
textarea:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}


